.msg {
	font-size: .85em;
	color: red;
}

.confirma {
	overflow: hidden; /* clearfix: deixa div com altura de seus elementos filhos com float */
}

.botoes-popup {
	text-align: center;
	margin-top: 20px;
}

.lista-aprovacoes .nome-funcionario {
    margin-left: 10px !important;
}

.lista-aprovacoes .lista-de-detalhes {
    list-style-type: none;
    padding-left: 0px;
}

.lista-aprovacoes .lista-de-detalhes .ponto-icone {
    font-size: 2.2em;
    position:relative;
    top: 7px;
    min-width: 35px;
    text-align: center;
}

.lista-aprovacoes .descricao-detalhe {
    font-size: 0.8em !important;
    font-weight: 400;    
}

/* horário de entrada/saída   */
.lista-aprovacoes .ui-li-aside {
    font-size: 0.95em;
    right: 1em;
    top: 1em;
}

.botoes-acoes :button {
    margin-bottom: 20px;
}

/* jornadas de funcionário apenas com crítica, sem exceções: opacidade um pouco maior para melhorar visualização */
.lista-aprovacoes .ui-checkbox.ui-state-disabled {
	opacity: .7 !important;	
}

@media ( min-width: 35em ) {
	/* coloca select de motivos ao lado do texto*/
	#popupDialog .confirma div {
		float: left;
		margin-left: 5px;
	}
	
	#popupDialog .texto-descricao {
		padding-top: 10px;
		width: 150px;
	}	
	
	#popupDialog .select-motivo {
		width: 300px;
	}
	
	#popupDialog select {
		width: 250px;
	}
}

@media ( max-width: 35em ) {
	/* select de motivos embaixo do texto */
	#popupDialog .confirma {
		margin-top: 20px;
	}
	
	#popupDialog .texto-descricao {
		text-align: center;
	}
	
	.lista-aprovacoes .nome-funcionario {
		font-size: .9em !important;
		margin-top: 25px;
	}
	
	.lista-aprovacoes .ui-li-aside {
		font-size: .75em;
	}	
}