/*
div.holerite {
    padding: 20px;
    text-align:center;
}

.holerite table {
    border: 1px solid #999;
    margin-left:auto;
    margin-right:auto;
    display:table !important;    
}

.holerite-valor {
    text-align:right !important;
}

.holerite-total-label {
    text-align:right !important;
}
*/

.container-holerite {
	visibility: hidden;
}


.cabecalho-holerite {
	margin-left: auto;
	margin-right: auto;
}

.cabecalho-holerite tr td:first-child {
	text-align: right;
	padding-right: 10px;
}

.setas-navegacao {
	font-size: 2em;
	padding: 0 40px;
}

.setas-navegacao .seta-direita {
	float: right;
}

.titulo-processamento {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.titulo-neutras {
	padding-top: 50px;
}

.titulo-neutras h4 {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabela-verbas {
	border: 1px solid rgba(0,0,0,.2);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.holerite-proventos {
    color: #77bbff;
}

.holerite-descontos {
    color: red;
}

.holerite-liquido {
    color: green;
    font-size: 1.2em;
}  

/* .holerite-valor-negativo:after { */
/*     content: " - "; */
/* } */

/* .holerite-valor-positivo:after { */
/*     content: " + "; */
/* } */

/* These apply across all breakpoints because they are outside of a media query */
/* Make the labels light gray all caps across the board */
.tabela-verbas thead th,
.tabela-verbas tbody th .ui-table-cell-label,
.tabela-verbas tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}
/* White bg, large blue text for rank and title */
.tabela-verbas tbody th {
    /*font-size: 1.2em;*/
    background-color: #fff;
    /*color: #77bbff;*/
    /*text-align: center;*/
}
/*  Add a bit of extra left padding for the title */
.tabela-verbas tbody td.nome-verba {
    padding-left: .8em;
}
/* Add strokes */
.tabela-verbas thead th {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tabela-verbas tbody th,
.tabela-verbas tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
/*  Custom stacked styles for mobile sizes */
/*  Use a max-width media query so we don't have to undo these styles */
@media (max-width: 40em) {
    /*  Negate the margin between sections */
    .tabela-verbas tbody th {
        margin-top: 0;
        text-align: left;
    }
    /*  White bg, large blue text for rank and title */
    .tabela-verbas tbody th,
    .tabela-verbas tbody td.nome-verba {
        display: block;
        font-size: 1.05em;
        line-height: 110%;
        padding: .5em .5em;
        background-color: #fff;
        /* color: #77bbff; */
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        box-shadow: 0 1px 6px rgba(0,0,0,.1);
    }
    /*  Hide labels for rank and title */
    .tabela-verbas tbody th .ui-table-cell-label,
    .tabela-verbas tbody td.nome-verba .ui-table-cell-label {
        display: none;
    }
    /*  Position the title next to the rank, pad to the left */
    .tabela-verbas tbody td.nome-verba {
        margin-top: -2.1em;
        padding-left: 2.2em;
        border-bottom: 1px solid rgba(0,0,0,.15);
    }
    /*  Make the data bold */
    .tabela-verbas th,
    .tabela-verbas td {
        font-weight: bold;
    }
    /* Make the label elements a percentage width */
    .tabela-verbas td .ui-table-cell-label,
    .tabela-verbas th .ui-table-cell-label {
        min-width: 70%;
    }
    
    .tabela-verbas tfoot .ui-table-cell-label {
        display: none;
    }
    
    .tabela-verbas tfoot {
        display: block;
        line-height: 110%;
        padding: .5em .5em;
        background-color: #fff;
        color: #77bbff;
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        box-shadow: 0 1px 6px rgba(0,0,0,.1);
        text-shadow: none;
    }  
    
    .tabela-verbas tfoot td {
        position: absolute;
        margin-left: 65%;
    }
    
    .container-holerite {
        padding: 0;
        border: none;
    }
    
    .lista-processamentos {
        font-size: .82em;
    }
    
    .tipo-processamento {
        font-size: 1em;
    }
    
}
/* Media query to show as a standard table at wider widths */
@media ( min-width: 40em ) {
    /* Show the table header rows */
    .tabela-verbas td,
    .tabela-verbas th,
    .tabela-verbas tbody th,
    .tabela-verbas tbody td,
    .tabela-verbas thead td,
    .tabela-verbas thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .tabela-verbas td .ui-table-cell-label,
    .tabela-verbas th .ui-table-cell-label {
        display: none;
    }
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements */
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this */
@media ( max-width: 40em ) {
    .tabela-verbas td,
    .tabela-verbas th {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
}